<main class="content-area">

  <!-- Shot/Keyframes display after query search -->
 <div class="video-grid">
   <div *ngFor="let keyframeName of this.videoService.keyframeNames()" class="video-thumbnail" (click)="openVideo(keyframeName)">
     <img [src]="'http://localhost:8000/media/shots/' + this.videoService.trim(this.videoService.trim(keyframeName)) + '/keyframes/' + keyframeName + '.jpg'" alt="Video thumbnail">
     <div class="video-overlay">
       <div class="play-icon"> ▶ </div>
     </div>
   </div>
 </div>  
</main>