/* You can add global styles to this file, and also import other style files */
.sidebar {
    width: 240px;
    background: #e7fdf4;
    padding: 20px;
    border-right: 1px solid #ddd;
    min-height: 100vh; /* Ensure it takes full height */
  }
    
  .main-container {
    display: flex;
    height: calc(100vh - 60px);
  }